@tailwind base;
@tailwind components;
@tailwind utilities;

@property --rotate {
  syntax: "<angle>";
  initial-value: 125deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  50% {
    --rotate: 180deg;
  }
  100% {
    --rotate: 360deg;
  }
}
.project-container {
  margin-left: 8rem;
}
.Projects {
  margin-top: 20px;
  font-size: 4.5rem;
  border-bottom: 4px solid lime;
}

p {
  font-size: 18.5px;
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #191c29;
  width: 20rem;
  height: 40rem;
  position: relative;
  border-radius: 5px;
  filter: drop-shadow(0 0 1.5rem hsl(207, 100%, 56%));
}
.card:before {
  content: "";
  width: 110%;
  height: 104%;
  border-radius: 5px;
  background-image: linear-gradient(
    var(--rotate),
    #67e8f9,
    #2a63ab 20%,
    #001842
  );
  position: absolute;
  animation: spin 3s linear infinite;
  z-index: -2;
}
.card > h2 {
  border-bottom: 3px solid hsl(207, 100%, 56%);
}
.project-title {
  font-size: 2.5rem;
  margin: 10px 5px;
  color: rgb(0, 98, 218);
  text-shadow: 0.25px 0.25px 0.25px hsl(207, 100%, 56%), 3px 3px 3px #55038b;
}
.descriptionStack {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px black;
}
.card::after {
  position: absolute;
  content: "";
  z-index: -2;
  margin: 0 auto;
  transform: scale(1.5);
  opacity: 1;
  transition: opacity 0.5;
  animation: spin 5s linear infinite;
}
