@tailwind base;
@tailwind components;
@tailwind utilities;

@property --rotate {
  syntax: "<angle>";
  initial-value: 125deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  50% {
    --rotate: 180deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #00150f;
  position: relative;
  border-radius: 5%;
  filter: drop-shadow(0 0 1.5rem hsl(163, 100%, 45%));
}
.card:before {
  content: "";
  width: 110%;
  height: 102%;
  border-radius: 5%;
  background-image: linear-gradient(
    var(--rotate),
    #2dd4bf,
    #007550 20%,
    #00150f
  );
  position: absolute;
  animation: spin 3s linear infinite;
  z-index: -2;
}

.project-title {
  text-shadow: 0.25px 0.25px 0.25px hsl(207, 100%, 56%), 3px 3px 3px #55038b;
}
.project-preview {
  width: 100%;
  border-radius: 20px;
  padding-top: 30px;
}
.projects-icons {
  width: 50%;
  height: 50%;
}

.descriptionStack {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 2px black;
}
.card::after {
  position: absolute;
  content: "";
  z-index: -2;
  margin: 0 auto;
  transform: scale(1.5);
  opacity: 1;
  transition: opacity 0.5;
  animation: spin 5s linear infinite;
}
/* 
@media only screen and (min-width: 750px) {
  .card {
    width: 25rem;
    height: 55rem;
  }

  .project-title {
    font-size: 3rem;
    margin-top: 60px;
  }
  .project-preview {
    width: 100%;
    border-radius: 20px;
    height: 85%;
  }
  .projects-icons {
    width: 13%;
    height: 13%;
    margin: auto;
  }
  .descriptionStack {
    font-size: 23px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
  }
}
@media only screen and (min-width: 730px) {
  .project-container {
    margin-left: 11rem;
  }
}

@media only screen and (min-width: 1050px) {
  .project-container {
    margin-left: 15rem;
  }
  .card {
    width: 35rem;
    height: 60rem;
  }

  .project-title {
    font-size: 3rem;
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1550px) {
  .project-container {
    margin-left: 40rem;
  }
  .card {
    width: 35rem;
    height: 60rem;
  }

  .project-title {
    margin-top: 75px;
  }

  .descriptionStack {
    font-size: 25px;
  }
}

@media only screen and (min-width: 2050px) {
  .project-container {
    margin-left: 57rem;
  }
} */
