/* .ExpPanel {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  background-color: rgb(185, 213, 255);
=======
  background-color: lime;
  border-radius: 20px;
>>>>>>> develop
  margin: 30px;
  color: black;
}
.CareerProfile {
  font-size: 40px;
  margin-top: 60px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.careerstatement {
  border: 2px solid black;
  border-radius: 15px;
  font-size: 25px;
  margin: 50px;
  text-align: center;
  padding: 10px;
}
.ExperienceTitle {
  font-size: 40px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.Experience {
  margin-left: 50px;
  text-align: center;
}
.Work {
  border: 2px groove greenyellow;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 50px;
}
.jtitle {
  font-size: 40px;
  color: black;
  border-top: 0.3ex groove #222;
  border-bottom: 0.3ex groove #222;
  position: relative;
  margin: 50px;
}
.workplace {
  font-size: 35px;
  float: left;
  margin-left: 50px;
  border-top: 0.25ex groove black;
  border-bottom: 0.25ex groove black;
}
.date {
  font-size: 30px;
  float: right;
  margin-right: 50px;
  border-bottom: 0.25ex groove black;
  border-top: 0.25ex groove black;
}
.descp {
  margin: 120px;
  font-size: 30px;
  display: flex;
}

.School {
  border: 2px groove purple;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 40px;
  margin-right: 50px;
}
.Degree {
  font-size: 50px;
  margin-bottom: 20px;
}
.Minor {
  font-size: 25px;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}
.job-descp {
<<<<<<< HEAD
  margin: 150px 5px;
=======
  margin-top: 50px;
} */

/* !this is the old CSS */

.desc {
  border: 1.75px solid lime;
  border-radius: 20px;
  padding: 3rem;
}
.career-statement {
  font-size: 1.75rem;
  margin: 15px 5px;
  text-shadow: 6px 6px 4px black;
}
.exp-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-title {
  font-size: 2.5rem;
  text-shadow: 5px 5px 5px black;
}
.job-workplace {
  font-size: 1.9rem;
  border: 1.2px solid lime;
  border-radius: 20px;
  text-shadow: 5px 5px 5px black;
}
.job-date {
  font-size: 1.7rem;
  border-bottom: 3px solid lime;
  width: 25%;
  margin: auto;
  text-shadow: 5px 5px 5px black;
}
.job-descp {
  font-size: 1.65rem;
  list-style: disc;
  margin-top: 10px;
  text-shadow: 6px 6px 4px black;
}

.section-title {
  border-right: 2px solid lime;
  border-top: 2px solid lime;
  border-radius: 5px;
  font-size: 3.5rem;
  text-shadow: 5px 5px 5px black;
}
.degree {
  font-size: 2.5rem;
  text-shadow: 6px 6px 4px black;
}
.school {
  font-size: 2.3rem;
  border: 2px solid lime;
  border-radius: 20px;
  text-shadow: 6px 6px 4px black;
}
.school-img {
  border-radius: 20px;
  margin: auto;
  margin-top: 15px;
  width: 85%;
  max-width: 600px;
}
.minor {
  font-size: 1.85rem;
  text-shadow: 6px 6px 4px black;
>>>>>>> develop
}
