/* !this is the old CSS */

.desc {
  border-radius: 20px;
  padding: 3rem;
}
.career-statement {
  margin: 15px 5px;
  text-shadow: 6px 6px 4px black;
}
.exp-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-title {
  text-shadow: 5px 5px 5px black;
}
.job-workplace {
  border-radius: 20px;
  text-shadow: 5px 5px 5px black;
}
.job-date {
  margin: auto;
  text-shadow: 5px 5px 5px black;
}
.job-descp {
  list-style: disc;
  text-shadow: 5px 5px 3px black;
}

.section-title {
  border-radius: 5px;
  text-shadow: 5px 5px 3px black;
}
.degree {
  text-shadow: 5px 5px 3px black;
}
.school {
  border-radius: 20px;
  text-shadow: 5px 5px 3px black;
}
.school-img {
  border-radius: 20px;
  margin: auto;
  margin-top: 15px;
  width: 85%;
  max-width: 350px;
}
.minor {
  text-shadow: 5px 5px 3px black;
}
