.Navbar {
  display: flex;
  justify-content: space-around;

  color: white;
  text-align: center;
  background-image: linear-gradient(#04215b, black);
}

a {
  text-decoration: none;
  color: white;
  border-bottom: 3px solid #00aeff;
}
nav > h1 {
  font-size: 30px;
  margin-left: 20px;
  text-shadow: 5px 5px 5px black;
}

.navActive {
  border-bottom: 5px solid lime;
}

.Navbar-list {
  display: flex;
  list-style: none;
}
.Navbar-list > li {
  font-size: 1.7rem;
  margin-left: 1.1em;
  text-shadow: 3px 3px 3px black;
}
