.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.5rem;
}
.navbar-initials {
  font-size: 3rem;
  text-shadow: 5px 5px 5px black;
  margin-left: 10px;
}

.navbar-list {
  display: flex;
  list-style: none;
}
.navbar-list > li {
  font-size: 1.2rem;
  margin-right: 1.2em;
  text-shadow: 3px 3px 3px rgb(0, 36, 40);
}
@media only screen and (min-width: 600px) {
  .navbar-initials {
    font-size: 3.6rem;
  }
  .navbar-list > li {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-initials {
    font-size: 4rem;
  }
  .navbar-list > li {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 1080px) {
  .navbar-initials {
    font-size: 4.5rem;
  }
  .navbar-list > li {
    font-size: 3rem;
  }
}
