.intro-container {
  display: flex;
  flex-direction: column;
  margin-right: 7rem;
}
.intro-name {
  font-size: 3.4rem;
  text-shadow: 5px 5px 5px black;
  border-bottom: 4px solid lime;
}
.intro-title {
  font-size: 2.2rem;
  color: lime;
  text-shadow: 4px 4px 4px rgb(54, 156, 54);
}
.intro-descp {
  font-size: 1.87rem;
  opacity: 1;
}
.intro-descp2 {
  font-size: 1.87rem;
  opacity: 1;
  margin: 1.3rem;
}
.intro-descp3 {
  font-size: 1.87rem;
  opacity: 1;
}

.intro-self {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portfolioPhoto {
  width: 100%;
}
