.Intro-text {
  padding: 10px;
}
.name {
  font-size: 4rem;
}
.intro-name {
  font-size: 3.4rem;
  text-shadow: 5px 5px 5px black;
}
.intro-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 10px 10px 5px rgb(0, 0, 0);
  margin: 5px 20px;
}
.intro-descp {
  animation: fadeIn1 ease 4s;
}
.intro-descp2 {
  animation: fadeIn2 ease-in-out 6s;
}
.intro-descp3 {
  animation: fadeIn3 ease-in-out 6s;
}
.intro-self {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.photo-container {
  box-shadow: 20px 5px 5px rgba(0, 0, 0, 0);
}
.portfolioPhoto {
  max-width: 25rem;
  max-height: 42.5rem;
  margin: 5% auto;
  border-radius: 5%;
}

@keyframes fadeIn1 {
  /* 0% {
  
  }
  100% {
   
  } */

  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn2 {
  /* 0% {
  
  }
  100% {
   
  } */

  from {
    transform: translateX(300%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn3 {
  /* 0% {
  
  }
  100% {
   
  } */

  from {
    transform: translateY(400%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
