.App {
  text-align: center;
  background-image: linear-gradient(#04215b, black);
  color: white;
}
.lime-bottom {
  border-bottom: 3px solid lime;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.f-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrap-me {
  flex-wrap: wrap;
}
.Intro-text {
  padding: 20px;
}
.portfolioPhoto {
  width: 85%;
  border-radius: 10px;
  box-shadow: 10px 10px 40px rgb(0, 201, 0);
}
.Projects {
  font-size: 30px;
  color: white;
}
