.App {
  text-align: center;
  background-image: linear-gradient(#04215b, black);
  color: white;
}
.lime-bottom {
  border-bottom: 3px solid lime;
}

.portfolioPhoto {
  width: 85%;
  border-radius: 10px;
  box-shadow: 10px 10px 40px rgb(0, 201, 0);
}
.Projects {
  font-size: 30px;
  color: white;
}
